* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(161, 150, 231);
  position: fixed;
  width: 100%;
  padding: 10px;
}

header nav a {
  text-decoration: none;
  margin: 0 0 0 15px;
  color: black;
}

main {
  padding-top: 50px;
}

main section {
  width: 100%;
  /* min-height was originally commented out to shorten the page */
  min-height: 100vh;
}
/* this is the section for the about content */
main section#about {
  background-color: khaki;
  padding: 20px 0;
}
/* this is the container for the image */
main section#about > div {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
  padding: 1.25rem;
  align-items: center;
  flex-wrap: wrap;
  
}
main section#about > div > *{
    flex: 1 0 15rem;
}
/* this is the image */
main section#about img {
  border-radius: 15%;
}
/* this is the container for the bio */
main section#about .bio {
  line-height: 1.5;
  font-size: 18px;
}

/* this is the container for the bio paragraph */
main section#about .bio p {
  margin-bottom: 15px;
}


/* demo */
/* this is the container for the image */
main section#demo > div {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
  padding: 1.25rem;
  align-items: center;
  flex-wrap: wrap;
  
}
main section#demo > div > *{
    flex: 1 0 15rem;
}
/* this is the image */
main section#demo img {
  /* border-radius: 15%; */
  max-width: 70%;

}
/* this is the container for the bio */
main section#demo .projectDes {
  line-height: 1.5;
  font-size: 18px;
}

/* this is the container for the bio paragraph */
main section#demo .projectDes p {
  margin-bottom: 15px;
}


main section#demo {
  background-color: rgb(225, 190, 190);
  padding: 20px 0;
}

/* demo2 */
main section#demo2 > div {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
  padding: 1.25rem;
  align-items: center;
  flex-wrap: wrap;
  
}
main section#demo2 > div > *{
    flex: 1 0 15rem;
}
/* this is the image */
main section#demo2 img {
  /* border-radius: 15%; */
  max-width: 50%;

}
/* this is the container for the bio */
main section#demo2 .projectDes {
  line-height: 1.5;
  font-size: 18px;
}

/* this is the container for the bio paragraph */
main section#demo2 .projectDes p {
  margin-bottom: 15px;
}

main section#demo2 {
  background-color: rgb(148, 200, 246);
}

main section .holder {
  max-width: 1024px;
  width: 90%;
  margin: 0 auto;
}


